[submodule "Thread Synchronization"]
	path = Thread Synchronization
	url = https://github.com/mohmyhm/ThreadSynchronization
[submodule "PintosScheduling"]
	path = PintosScheduling
	url = https://github.com/mohmyhm/PintosScheduling
[submodule "ThreadSynchronization"]
	path = ThreadSynchronization
	url = https://github.com/mohmyhm/ThreadSynchronization
[submodule "TinyFS"]
	path = TinyFS
	url = https://github.com/mohmyhm/TinyFS
